<% if presentation.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(presentation.errors.count, "error") %> prohibited this presentation from being saved:</h2>
    
        <ul>
            <% presentation.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
        </ul>
      </div>

<% else %>
  <% if current_user.course_id == 0 %>
          <div>
              <%= simple_form_for  @presentation, :html => { :multipart => true } do |f| %>
                <%= select_tag(:course_id, options_for_select(@courses), :prompt => "Select Course") %>
                <%= f.button :submit %>  
              <% end %>
          </div>
  <% else %>
          <div>
            <%= simple_form_for  @presentation, :html => { :multipart => true } do |f| %>
              <%= f.input :name, label: "Presentation Name", id: :presentation_name %>
              <%= f.text_area :descrip, label: "Description", id: :presentation_descrip %>
              <%= f.datetime_select :dt, label: "Date and Time", id: :presentation_dt %>
              <%= f.input :locat, label: "Location", id: :presentation_locat %>
              <%= select_tag(:course_id, options_for_select(@courses), :prompt => "Select Course") %>
              <%= select_tag(:author_id, options_for_select(@authors), :prompt => "Select Author") %>
              <%= f.button :submit %>   
            <% end %>
          </div>
  <% end %>

<% end %>


