<h1>Editing Presentation</h1>
<% if user_signed_in? && current_user.admin? %>    
      <%= render 'form', presentation: @presentation %>
      
      <%= link_to 'Show', @presentation %> 
<% else %>
  <h1> Login to get access to the information </h1>
<% end %>
<%= link_to 'Back', presentations_path %>