
<% if user_signed_in? %>
        <div class="row">
          <div class="col-md-10">
            <h5><%= link_to 'Display All Presentations', presentations_path(:topic => "all") %></h5> 
            <h5><%= link_to 'Display My Presentations', presentations_path(:topic => current_user.course_id) %></h5>
            <h5><%= link_to 'EVENT CALENDAR', eventcals_path(:pid => @ptid) %></h5>
            <h5><%= link_to 'Message', umsg_show_path %></h5>
          </div>
          <div class="col-md-10">
            <h5>Get messages when the cost is reduced for the selected area of interest</h5>
            <h5><%= link_to 'Interested', presentations_path(:intd => true) %></h5>
            <h5><%= link_to 'Not Interested', presentations_path(:intd => false) %></h5>
          </div>
        </div>
       
  <% if current_user.course_id == 0 %>
    <h1> Select your required Course before getting to know about the presentations </h1>
    <p><%= link_to 'Select Course', new_presentation_path %></p>
  <% else %>
        <% if @presentations.count == 0 %>
            <h1> No Presentation Details to be displayed </h1>
            <% if current_user.admin? %>
               <%= link_to 'New Presentation', new_presentation_path %>
            <% end %>
        <% else %>
            <div class="row">
                <div class="col-md-10">
                  <h1>Presentation Details</h1>
      
                  <table>
                    <thead>
                      <tr>
                        <th>PRESENTATION NAME</th>
                        <th>AUTHOR DETAILS</th>
                        <th>DESCRIPTION</th>
                        <th>DATE AND TIME</th>
                        <th>LOCATION DETAILS</th>
                        <th>COST DETAILS</th>
                        <th>ATTENDING</th>
                        <th colspan="3"></th>
                      </tr>
                    </thead>
            </div>
                </div>
      
            <div class="row">
                <div class="col-md-10">
                    <tbody>
                      <% @presentations.each do |presentation| %>
                        <% @author = Author.find_by id: presentation.author_id %>
                        <% @pcost = Pcost.find_by id: @author.pcost_id %>
                        <tr>
                          <td><%= presentation.name %></td>
                          <td><%= @author.aname %><br /><%= link_to 'Get Details', author_path(presentation.author_id) %></td>
                          <td><%= presentation.descrip %></td>
                          <td><%= presentation.dt %></td>
                          <td><%= presentation.locat %></td>
                          <td><%= @pcost.cost %> <h10>Euroes</h10></td>
                          <% if current_user.analyse == true %>
                            <% @obj.ucall(@pcost.id,presentation) %>
                          <% end %>
                          <td><%= presentation.attending %></td>
                          <td><%= link_to 'Show', presentation %></td>
                          <td>
                            <%= form_tag new_phistory_path(params[:id]), :method => "get" do %>
                                <div>
                                    <input id="cost" name="cost" type="hidden" value="<%= @pcost.cost  %>" />
                                    <input id="pt" name="pt" type="hidden" value="<%= presentation.id  %>" />
                                    <% if @allow %>
                                      <button type="submit" class="btn btn-default btn-lg">Pay Now</button>
                                    <% else %>
                                      <button type="submit" disabled="disabled" class="btn btn-default btn-lg">Pay Now</button>
                                    <% end %>
                                 </div>
                            <% end %>
                          </td>
                          <% if current_user.admin? %>
                            <td><%= link_to 'Edit', edit_presentation_path(presentation) %></td>
                            <td><%= link_to 'Destroy', presentation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          <% end %>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
      
                  <br>
            </div>
                </div>
                
          <% end %>
    <% end %>
<% else %>
  <h1> Sign In to know more details about the presentations by clicking the below link </h1>
  <%= link_to 'Get Access', new_user_session_path %>
<% end %>
