<h1>New Presentation</h1>
<% if user_signed_in? %>
  <%= render 'form', presentation: @presentation %>
<% else %>
  <h1> Login to get access to the information </h1>
<% end %>
<%= link_to 'Back', presentations_path %>