<div class="row">
  <div class="col-md-10">
    <% if user_signed_in? %>
            <p>
              <strong>Presentation Name:</strong>
              <%= @presentation.name %>
            </p>

            <p>
              <strong>Description:</strong>
              <%= @presentation.descrip %>
            </p>

            <p>
              <strong>Date and Time:</strong>
              <%= @presentation.dt %>
            </p>

            <p>
              <strong>Location:</strong>
              <%= @presentation.locat %>
            </p>
          <% if current_user.admin? %>
            <%= link_to 'Edit', edit_presentation_path(@presentation) %> 
          <% end %>
            <%= link_to 'Back', presentations_path %>
    <% else %>
          <h1> Login to get to know more details about your selected course presentations </h1>
    <% end %>
  </div>
</div>