<% if author.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>
    
        <ul>
            <% author.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
        </ul>
      </div>

<% else %>
          <div>
            <%= simple_form_for  @author, :html => { :multipart => true } do |f| %>
              <%= f.input :aname, label: "Author Name", id: :author_aname %>
              <%= f.text_area :courses, label: "Courses Done", id: :author_courses %>
              <%= f.input :workexp, label: "Work Experience", id: :author_workexp %>
              <%= f.text_area :descript, label: "Description", id: :author_descript %>
              <%= select_tag(:pcost_id, options_for_select(@pcosts), :prompt => "Select Cost") %>
              <%= f.button :submit %>   
            <% end %>
          </div>
<% end %>


