<h1>Editing Author</h1>
<% if user_signed_in? && current_user.admin? %>    
      <%= render 'form', author: @author %>
      
      <%= link_to 'Show', @author %> 
<% else %>
  <h1> Login to get access to the information </h1>
<% end %>
<%= link_to 'Back', authors_path %>

