<% if user_signed_in? %>
            <h1>Authors</h1>
    <% if @authors.count == 0 %>
      <h1> No Available Authors </h1>
      <% if current_user.admin? %>
               <%= link_to 'New Author', new_author_path %>
      <% end %>
    <% else %>
           <div class="row">
                <div class="col-md-10">
                  <h1>Author Details</h1>
      
                  <table>
                    <thead>
                      <tr>
                        <th>Author Name</th>
                        <th>Courses</th>
                        <th>Work Experience</th>
                        <th>Description</th>
                        <th colspan="3"></th>
                      </tr>
                    </thead>
            </div>
                </div>
      
            <div class="row">
                <div class="col-md-10">
                    <tbody>
                      <% @authors.each do |author| %>
                        <tr>
                          <td><%= author.aname %></td>
                          <td><%= author.courses %></td>
                          <td><%= author.workexp %></td>
                          <td><%= author.descript %></td>
                          <td><%= link_to 'Show', author %></td>
                          <% if current_user.admin? %>
                            <td><%= link_to 'Edit', edit_author_path(author) %></td>
                            <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          <% end %>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
      
                  <br>
            </div>
                </div>
    <% end %>    
<% end %>