<div class="row">
  <div class="col-md-10">
    <% if user_signed_in? %>
            <p>
              <strong>Author Name:</strong>
              <%= @author.aname %>
            </p>

            <p>
              <strong>Courses</strong>
              <%= @author.courses %>
            </p>

            <p>
              <strong>Work Experience</strong>
              <%= @author.workexp %>
            </p>

            <p>
              <strong>Description:</strong>
              <%= @author.descript %>
            </p>
          <% if current_user.admin? %>
            <%= link_to 'Edit', edit_author_path(@author) %> 
          <% end %>
            <%= link_to 'Back', authors_path %>
    <% else %>
          <h1> Login to get to know more details about your selected course authors </h1>
    <% end %>
  </div>
</div>