<div class="row">
  <div class="col-md-12 text-center">
    <div class="well controls">
      <%= link_to eventcals_path(date: @date - 1.month), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-backward"></i>
      <% end %>
      <%= "#{@date.strftime("%B")} #{@date.year}" %>
      
      <%= link_to eventcals_path(date: @date + 1.month), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-forward"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= eventcal @date do |date| %>
      <%= date.day %>
      <% @allow = false %>
      <% if date.strftime("%B") == @pdt.strftime("%B") %>
          <% if date.strftime("%Y") == @pdt.strftime("%Y") %>
            <% if date.day == @pdt.day %>
              <% @allow = true %>
            <% end %>
          <% end %>
      <% end %>
      <% if @allow == true %>
        <%= @pname %>
      <% end %>
        
    <% end %>
  </div>
</div>
