<%= simple_form_for(@phistory) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :hname %>
    <%= f.input :hphone %>
    <%= f.input :hcost %>
    <%= f.input :hbookdt %>
    <%= f.input :hlocat %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
