<% if user_signed_in? %>

  <% if @phistories.count == 0 %>
      <h1> No History Items to be displayed </h1>
            
  <% else %>
            <h1>Phistories</h1>

            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Cost for the presentation</th>
                  <th>Booking Date</th>
                  <th>Location</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @phistories.each do |phistory| %>
                  <tr>
                    <td><%= phistory.hname %></td>
                    <td><%= phistory.hphone %></td>
                    <td><%= phistory.hcost %></td>
                    <td><%= phistory.hbookdt %></td>
                    <td><%= phistory.hlocat %></td>
                    <td><%= link_to 'Show', phistory %></td>
                    <td><%= link_to 'Destroy', phistory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <br>
    <% end %>
<% end %>