<%= form_tag phistories_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: <%= @amount %></span>
    </label>
  </article>
  <div>
    <input id="cost" name="cost" type="hidden" value="<%= @amount  %>" />
    <input id="pt" name="pt" type="hidden" value="<%= @ptid %>" />
  </div>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          Stripe.setPublishableKey('pk_test_CAwvFnCx8hEIfgtRAv5queyn');
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= @amount %>"
          data-locale="auto"></script>
<% end %>
