<div class="row">
  <div class="col-md-10">
    <% if user_signed_in? %>

          <p>
            <strong>NAME:</strong>
            <%= @phistory.hname %>
          </p>

          <p>
            <strong>PHONE:</strong>
            <%= @phistory.hphone %>
          </p>

          <p>
            <strong>COST:</strong>
            <%= @phistory.hcost %>
          </p>

          <p>
            <strong>BOOKING DATE AND TIME:</strong>
            <%= @phistory.hbookdt %>
          </p>

          <p>
            <strong>PRESENTATION NAME</strong>
            <%= @phistory.hlocat %>
          </p>
   <% else %>
          <h1> Login to get to know more details about your selected course presentations </h1>
    <% end %>
  </div>
</div>
