<!DOCTYPE html>
<html>
  <head>
    <title>Student Presentations Application</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "STUDENT PRESENTATION DETAILS", root_path, class: "navbar-brand" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "HOME", presentations_path %></li>
            <% if !user_signed_in? %>
            <li><%= link_to "SIGN UP", new_user_registration_path %></li>
            <li><%= link_to "LOG IN", new_user_session_path %></li>
            <% elsif user_signed_in? %>
            <li><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "HISTORY", phistories_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="row">
     
    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <div class="col-md-5">
      <%= yield %>
      </div>
      <div class="col-md-3">
        <% if !user_signed_in? %>
            <%= link_to image_tag("presentationlogo.png", alt: "presentation logo"),
            root_path %>
        <% end %>
      </div>
    </div>
    </div>
  </body>
</html>
